<h1>New Special</h1>
<%= form_for :special, url: specials_path do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
<%= link_to "Back", specials_path %>
